@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{ 
    scroll-behavior: smooth;
}

:root {
    --corprincipal: ##96CBFE;
}

body {
    font-family: Inter, Arial, sans-serif;
    line-height: 1.6;
    color: #333333;
    background-color: var(--corprincipal);
    padding-top: 120px;
}

/* Header e Navegação */
.header-1 {
    background-color: #333;
    color: white;
    padding: 25px 0;
    position: fixed;
    /* nao muda com o scroll */
    width: 100%;
    /* A propriedade top só tem efeito 
    quando o elemento está posicionado com position
    cabeçalho ficará fixo no topo da página, 
    e o valor top: 0; “cola” ele exatamente na borda
     superior da janela (sem nenhum espaço).
    Se fosse top: 10px;, por exemplo, o header
     ficaria 10 pixels abaixo do topo da tela.
     */
    top: 0;
}


.nav {
    width: 960px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.nav-logo {
    color: var(--corprincipal);
    text-decoration: none;
    /* tira sublinhado  links */
    font-weight: bold;
    /* espessura dos caracteres */
    font-size: 20px;
    float: left;
    /* flutua um elemento */
    padding: 1px 0;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.nav-menu {
    margin-left: 420px;
    width: 100%;
}

.nav-list {
    list-style: none;
    /* remover marcador */
}

.nav-item {
    display: inline-block;
    margin-left: 20px;
    padding: 5px
}

.nav-link {
    color: var(--corprincipal);
    text-decoration: none;
    padding: 5px 10px;
}

.nav-link.active,
.nav-link:hover {
    color: #dde754;
    background-color: #3b3b3b;
    border-radius: 3px;
}

.section-um {
    background-color: #F5E6D9;
    display: flex;
    flex-direction: row;
    gap: 600px;
    align-items: center;
}

.section-um img{
    width: 500px;
    height: 400px;
    margin-left: 50px;
}

.section-um #texto-um{
    color: #333;
    width: 30%;
    text-align: center;
}

.section-um #texto-um h1{
    font-family: Inter, Arial, sans-serif;
}


.section-dois {
    background-color: #96CBFE;
    display: flex;
    flex-direction: row;
    gap: 600px;
    align-items: center;
}

.section-dois img{
    width: 500px;
    height: 400px;
    margin-left: 50px;
}

.section-dois #texto-dois{
    color: #F5E6D9;
    width: 30%;
    text-align: center;
}

.section-tres #texto-tres h1{
    font-family: Inter, Arial, sans-serif;
}

.section-tres {
    background-color: #F5E6D9;
    display: flex;
    flex-direction: row;
    gap: 600px;
    align-items: center;
}

.section-tres img{
    width: 500px;
    height: 400px;
    margin-left: 50px;
}

.section-tres #texto-tres{
    color: #333;
    width: 30%;
    text-align: center;
}

.section-tres #texto-tres h1{
    font-family: Inter, Arial, sans-serif;
}


.section-quatro{
    background-color: #96CBFE;
    gap: 700px;
    display: flex;
    flex-direction: row;
}
.section-quatro #image-ferramentas img{
    width: 100px;
    height: 100px;
}
.section-quatro #image-wpp img{
    width: 100px;
}

.section-quatro #texto-quatro{
    color: #F5E6D9;
    width: 30%;
    text-align: center;
}

.section-quatro #texto-quatro h1{
    font-family: Inter, Arial, sans-serif;
}

.section-cinco{
    background-color: #2b91f0;
    align-items: center;
    gap: 600px;
    display: flex;
    flex-direction: column;
}


.section-cinco #texto-cinco{
    color: #F5E6D9;
    width: 40%;
    text-align: center;
}

.section-cinco #texto-cinco h1{
    font-family: Inter, Arial, sans-serif;
}

.section-seis{
    margin-top: 100px;
    gap: 600px;
    display: flex;
    flex-direction: row;
}

.section-seis #texto-seis{
    width: 70%;
    text-align: center;
}

.section-seis #texto-seis h1{
    font-family: Inter, Arial, sans-serif;
}
footer{
    background-color:#13025e;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Anton", serif;
    text-align: center;
    
}

footer strong{
    color: rgb(201, 201, 201);
    font-weight: 100;
}

footer p{
    color: rgb(199, 199, 199);
}